/* line 9, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/availabilities.scss */
.time-table {
  display: flex;
}

/* line 13, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/availabilities.scss */
.date-col {
  float: left;
}

/* line 17, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/availabilities.scss */
.date-time {
  background: white;
  border: 1px solid black;
  width: 60px;
  height: 20px;
  text-align: center;
}

/* line 24, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/availabilities.scss */
.date-time.selected {
  background-color: green;
}
