:root {
  --box-height: 20px;
}


.time-table-container {
  width: 700px;
  height: 800px;
  overflow-x: auto;
  white-space: nowrap;
  color: #B3B3B3;
}

.time-table-col {
  display: inline-block;
  vertical-align: top;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

.time-table-col:first-child {
  border-left: 1px solid #D3D3D3;
}

.time-table-col:last-child {
  border-right: 1px solid #D3D3D3;
}

.date-box {
  background: white;
  margin-bottom: 1px;
  margin-right: 1px;
  width: 60px;
  height: 28px;
  text-align: center;
  background-color: #F0F0F0;
}


.date-box.filled {
  background-color: #57d68d;
}

.date-box.selected {
  background-color: #81e0a9;
}

.date-box.deselected {
  background-color: #F6F6F6;
}

.hour-headers {
  line-height: 20px;
  background-color: white;
}

.date-headers {
  height: 30px;
  line-height: 30px;
  background-color: white;
}
