// Place all the styles related to the Api/Conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-condition-form {
  margin: 20px 0;
}

.num-people-condition {
  position: relative;
}

.num-people-condition .num-people {
  position: absolute;
  padding: 0 8px;
  line-height: 29px;
}

.form-input.min-num-input {
  display: inline-block;
  margin: 10 15px;
}

.saved-msg {
  display: inline-block;
  color: #2ecc71;
}

.select-friends-input {
  display: inline-block;
  margin: 0 15px;
}
