.event-response-form {
  display: flex;
  width: 400px;
  background-color: #d6dbdf;
  border-radius: 6px;
  overflow: hidden;
}

.event-response-form li {
  border-right: 2px solid #e4e7ea;
  flex-grow: 1;
  padding: 10px 20px;
  transition: 0.25s ease-out;
  color: white;
  cursor: pointer;
}

.event-response-form li:last-child {
  border-right: 0;
}

.event-response-form .response {
  color: white;
  background-color: #3498DB;
}

.event-response-form li:hover {
  background-color: #5dade2;
}

.event-response-form i {
  margin-right: 6px;
}


.event-response-form .response:hover {
    background-color: #3498DB;
}
