/* line 5, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/events.scss */

.event-content-info i {
  margin-right: 6px;
}

.event-content-info i.fa-map-marker {
  margin-left: 4px;
  margin-right: 8px;
}

.event-content-info .event-detail {
  margin-bottom: 10px;
}

.event-content-header h2 {
  width: 565px;
  word-wrap: break-word;
  white-space: normal;
}

.event-content-header .people-responded-text {
  width: 90px;
}

.event-content-info p {
  margin: 30px 0;
}

.event-attendee-list {
  margin-bottom: 20px;;
}
