/* line 5, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/events.scss */
.event-item-info {
  padding: 20px;
}


.event-item {
    display: flex;
}

.event-item-info span {
    display: block;
}

.content-header.event-content-header {
  height: 120px;
}

.content-divider {
  margin: 20px 0;
  text-align: center;
}

.event-content-header span {
  display: block;
}
