.group-show-buttons {
  display: flex;
  width: 184px;
  justify-content: space-between;
}

.group-index-item {
  width: 278px;
  height: 200px;
  position: relative;
  cursor: pointer;
}

.group-index-item-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 340px;
}

.group-index-item .group-title {
  font-size: 35px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  line-height: 200px;
  text-align: center;
  color: white;
}

.group-title h3 {
  font-weight: 500;
}

.group-index-item-overlay {
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.num-members {
  position: absolute;
  margin: 10px;
  right: 0;
  bottom: 0;
  color: white;
  display: none;
}

.group-index-item:hover .group-index-item-overlay {
  background-color: rgba(0,0,0,0.4);
}

.group-index-item:hover .num-members {
  display: block;
}


.group-description {
  margin-bottom: 40px;
}

.member-list {
  display: block;
}
