/* line 7, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 9, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
/* line 4, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
.group-show-buttons {
  display: flex;
  width: 184px;
  justify-content: space-between;
}

/* line 17, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 21, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 26, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 27, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 20, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
/* line 15, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
.group-index-item {
  height: 200px;
  margin-bottom: 40px;
  position: relative;
}

/* line 26, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
/* line 22, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
.group-index-item h3 {
  float: left;
  font-size: 35px;
  margin: 20px 37px;
}

/* line 31, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 33, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 34, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
/* line 31, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
.group-index-item-img {
  background: url(http://i.imgur.com/uE776LD.jpg);
  background-position: center;
  background-size: 400px;
  width: 30%;
  height: 100%;
  float: left;
}

/* line 40, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 43, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 44, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 48, /Users/Lily/Documents/aa/Crit/app/assets/stylesheets/api/groups.scss */
/* line 49, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
/* line 45, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
.group-index-item span {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
}

/* line 56, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
/* line 53, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
.group-detail-img {
  width: 100%;
  height: 280px;
  background-position: center;
  background-size: 700px;
}

.group-description {
  margin-bottom: 40px;
}

/* line 63, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
/* line 61, /Users/appacademy/Crit/app/assets/stylesheets/api/groups.scss */
.member-list {
  display: block;
}
