.profile-img-frame {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid #E4E4E4;
  width: 350px;
  height: 350px;
  margin: 30px auto;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 0 32px rgba(0,0,0,.1);
  position: relative;
}

.profile-img {
  background-position: center;
  background-size: cover;
  width: 95%;
  height: 95%;
  margin: auto;
}


.profile-img-upload {
  width: 330px;
  height: 100px;
  bottom: 10px;
  display: none;
}
.profile-img-frame:hover .profile-img-upload {
  display: block;
}

.img-upload {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.profile-img-upload .text {
  opacity: 1;
  font-size: 20px;
  text-align: center;
  color: white;
  line-height: 100px;
}

.profile-content-row {
  width: 650px;
  margin: auto;
  display: flex;
  margin-bottom: 30px;
}

.profile-content-row .title {
  width: 30%;
}

.profile-content-row .detail {
  width: 350px;
}

.profile-name {
  font-size: 20px;
}

.profile-content-row .profile-group-list {
  padding: 10px;
  border: 2px solid #d9d9d9;
  background: white;
  width: 500px;
  overflow: auto;
  height: 200px;
}
