/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*TODO: get rid of variables */
:root {
  --border-color: #DCDCDC;
  --navbar-height: 60px;
  --input-width: 450px;
  --primary-color: #0092D7;
  --border-color: #DCDCDC;
  --text-color: #899AA6;
}

html, #root, .app {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Proxima-Nova';
  background-color: #F5F5F5;
  height: 100%;
}

button {
	/*font-family: 'Montserrat';*/
}

h2 {
  font-weight: 200;
  font-size: 50px;
}

h3 {
  font-weight: 300;
  font-size: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h4 {
  font-size: 25px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.content {
  width: 900px;
  margin: auto;
}


.content-header {
  position: relative;
  padding: 25px 0px 10px 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.content-header h2 {
  color: #899AA6;
}

.content-header-buttons {
  /*float: right;
  vertical-align: bottom;*/
}

  .button i {
    font-size: 14px;
    margin-right: 6px;
  }

.modal-open #root {
  -webkit-filter: blur(4px) grayscale(50%);
  transition: all 0.5s linear;
}

body.modal-open {
  overflow: hidden;
}

.modal-close-button {
  float: right;
  cursor: pointer;
}

.button {
  cursor: pointer;
  border: 1px solid #bdbdbd;
  padding: 9px 20px;
  border-radius: 7px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 100;
}

.button:hover {
  background-color: #5dade2;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.detail-content {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  background: white;
}

.detail-img {
  width: 100%;
  height: 280px;
  background-position: center;
  background-size: 700px;
}


.content-body {
  padding: 26px 60px;
}

.content-body h4 {
  margin-bottom: 15px;
}


.errors-list {
  color: red;
}

.group:after {
    content: "";
    display: block;
    clear: both;
}
