.form h3 {
  margin: 20px 0;
}

.form .form-input {
  border-bottom: 1px solid #d3d3d3;;
  padding: 4px 8px;
  display: block;
  margin-bottom: 30px;
  width: var(--input-width);
}

.form .form-textarea {
  width: 500px;
}

/*.form .form-input.form-date {
  border-bottom: 1px solid #d3d3d3;;
  padding: 4px 8px;
  display: block;
  margin: ;
  width: var(--input-width);
}*/

.form .optional {
  font-size: 10px;
}

.form button {
  font-size: 15px;
  position: absolute;
  bottom: 41px;
  left: 30px;
}

.form-search {
  display: flex;
  align-items: flex-end;
}

.form-search-icon {
  height: 35px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.form-date {
  margin-top: 30px;
}
