.form {
  position: relative;
  top: -16px;
}

.form h3 {
  margin: 20px 0;
}

.form-input {
  border-bottom: 1px solid #d3d3d3;
  padding: 4px 8px;
  display: block;
  margin-bottom: 20px;
  width: var(--input-width);
}

.form-textarea {
  width: 500px;
}

.form-input ::-webkit-input-placeholder {
  color: #d3d3d3;
}

.form-input ::-moz-placeholder {
  color: #d3d3d3;
}

/*::-webkit-datetime-edit-text,
::-webkit-datetime-edit-day-field[aria-valuetext=blank],
::-webkit-datetime-edit-month-field[aria-valuetext=blank],
::-webkit-datetime-edit-year-field[aria-valuetext=blank] {
  color: blue;
}*/

.form-input:focus {
  border-bottom: 1px solid #d3d3d3;
  outline-offset:0;
  outline: 0;
}

/*.form .form-input.form-date {
  border-bottom: 1px solid #d3d3d3;;
  padding: 4px 8px;
  display: block;
  margin: ;
  width: var(--input-width);
}*/

.form .optional {
  font-size: 10px;
}

.form button {
  font-size: 15px;
  position: absolute;
  left: 0px;
  bottom: 20px;
  border: 0;
}

.form-search {
  display: flex;
  align-items: flex-end;
}

.form-search-icon {
  height: 35px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.form-date {
  margin-top: 30px;
}
