:root {
  --navbar-height: 60px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  box-sizing: border-box;
  padding: 0 17px;
  background-color: white;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header h1 {
  font-size: 27px;
  margin-right: 45px;
  color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 13px;
}

  .navbar-tabs {
    display: flex;
    width: 230px;
  }

  .navbar-tabs li {
    height: var(--navbar-height);
    flex-grow: 1;
    cursor: pointer;
    position: relative;
  }

  .navbar-tabs li .tab {
    text-align: center;
    line-height: var(--navbar-height);
    width: 100%;
    height: 100%;
  }

  .navbar-tabs li.inactive .tab:hover {
    color: #7dbde7;
  }

  .navbar-tabs li.inactive .tab:after {
    content: '';
    display: block;
    border-bottom: 3px solid #7dbde7;
    width: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  .navbar-tabs li.inactive .tab:hover:after {
    width: 100%;
  }

  .navbar-tabs .active {
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
  }

  .navbar-icons {
    display: block;
  }

    .navbar-icon {
      position: relative;
      float: left;
      height: var(--navbar-height);
      padding-left: 18px;
      cursor: pointer;
    }

    .navbar-icon:first-child {
      padding-left: 0px;
    }

      .navbar-icon > .fa {
        line-height: var(--navbar-height);
      }

      .navbar-dropdown {
        display: none;
        position: absolute;
        top: 50px;
        left: -30px;
        padding: 5px 15px;
        background: var(--primary-color);
        border-radius: 6px;
        color: white;
        font-size: 15px;
      }

      .navbar-icon:hover .navbar-dropdown {
        display: block;
      }

        .navbar-dropdown li {
          float: left;
        }

.body-scrolled {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
}

.splash-sticky {
  top: -60px;
  -webkit-transition: transform 1s ease;
   -moz-transition: transform 1s ease;
        transition: transform 1s ease;
}

.splash-sticky.splash-scrolled {
  -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
        transform: translate(0, 60px);
}
