.list-item {
  border: 1px solid var(--border-color);
  background-color: white;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  cursor: pointer;
  position: relative;
}

.list-item-text {
  text-align: center;
}

.list-item-text span {
  text-overflow: ellipsis;
}

/*.list-index-item {
  width: 100%;
  height: 135px;
  margin: 20px 0;
  border: 1px solid black;
}

.list-index-item-img {
  background-position: center;
  background-size: 338px;
  width: 30%;
  height: 100%;
}
*/
.event-item {
  height: 300px;
  width: 280px;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.event-item-img {
  background-position: center;
  background-size: 338px;
  width: 100%;
  height: 65%;
}

.event-item-info {
  height: 35%;
  position: relative;
  padding: 10px 15px;
}

.event-item-info .date {
  font-size: 13px;
  color: #a0a0a0;
  margin-bottom: 12px;
}
.event-item-info h3 {
  font-size: 22px;
  font-weight: 400;
}

.event-item-info span {
  font-weight: 300;
  font-size: 15px;
}

.event-item-info i {
  margin-right: 6px;
}

.event-item-info i.fa-map-marker {
  margin-left: 4px;
  margin-right: 8px;
}


.group-item {
  height: 63px;
  background: #F5F5F5;
  width: 210px;
  float: left;
  margin-right: 10px;
}

.group-item-img {
  background-position: center;
  background-size: 120px;
  width: 35%;
  height: 100%;
  float: left;
}

.group-item-text span {
  line-height: 63px;
}

.user-list-container {
  margin-bottom: 29px;
}

.user-list {
  margin-top: 10px;
  /*display: flex; */
}

.user-item {
  height: 70px;
  line-height: 70px;
  width: 219px;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

.user-item-content {
  height: 70px;
  line-height: 70px;
}

.user-item-img {
  background-position: center;
  background-size: 70px;
  width: 35%;
  height: 100%;
  float: left;
}

.overlay {
  background-color:rgba(0,0,0,0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.overlay:hover {
  background-color:rgba(120,120,120,0.2);
}
